top-wrapper {
    height: 580px
    color: #02ccba;
    background-image: url(https://d1ralsognjng37.cloudfront.net/1ffa7299-331c-4fef-ba3c-d1449498e213.jpeg);
    
  }
  .container {
      width: 1170px;
  }
